<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      Some of your annotations need to be reviewed:
      <ul>
        <% @reviews.each do |review| %>
          <li>
            <%= review.reviewable.title %> | <%= review.date.strftime("%d/%m/%Y") %>
          </li>
        <% end %>
      </ul>
  </body>
</html>
